In [6]:
import pandas as pd
import numpy as np
import os
from natsort import natsorted
import sklearn

In [7]:
max_row = 9
max_col = 9

In [15]:
table99 = pd.DataFrame()
for col in range(10):
    single_col = []
    for row in range(10):
        single_col.append(col*row)
    df_single_col = pd.DataFrame(single_col, columns = [f'한줄단'])
    # df_single_row = single_col
    table99 = pd.concat([table99,df_single_col], axis=1, ignore_index=True)

In [13]:
table99

   0  1   2   3   4   5   6   7   8   9
0  0  0   0   0   0   0   0   0   0   0
1  0  1   2   3   4   5   6   7   8   9
2  0  2   4   6   8  10  12  14  16  18
3  0  3   6   9  12  15  18  21  24  27
4  0  4   8  12  16  20  24  28  32  36
5  0  5  10  15  20  25  30  35  40  45
6  0  6  12  18  24  30  36  42  48  54
7  0  7  14  21  28  35  42  49  56  63
8  0  8  16  24  32  40  48  56  64  72
9  0  9  18  27  36  45  54  63  72  81

In [17]:
table99.to_excel(f"{max_row} {max_col}단.xlsx") # 저장하자!